mat-toolbar {
    background-color: #F4F1EC;
    display: flex;
    justify-content: space-between;

    .brand {
        font-family: "Fredoka", sans-serif;
        font-size: 28px;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    button {
        background-color: #C48820;
    }
}