<main>
    <h3>Maximize your Search with Technology</h3>
    <section class="row-1">
        <div class="container">
            <div class="head">
                <p class="title">Real-time search</p>
                <p class="subtitle">Forget stale databases.</p>
            </div>
            <p class="content">Search with confidence with a real time search engine, resulting in a significantly wider
                and more accurate funnel</p>
        </div>
        <mat-divider vertical />
        <div class="container">
            <div class="middle">
                <div class="head">
                    <p class="title">Fast & Effective</p>
                    <p class="subtitle">Buy-side search is all we do.</p>
                </div>
                <p class="content"> Our self-developed tech platform enables a faster startup time and achieves higher
                    reply
                    rates (15% vs. 20%+). Achieve results in a few months!</p>
            </div>
            <div class="gray-wrapper">
            </div>
        </div>
        <mat-divider vertical />
        <div class="container">
            <div class="head">
                <p class="title">Experienced</p>
                <p class="subtitle">Form meaningful business relationships.</p>
            </div>
            <p class="content">Search led by ex-PE Operator/ COO with 20+ years of experience across multiple industries
                in Fortune 100 and founder owned companies.</p>
        </div>
    </section>
    <section class="row-2">
        <div class="photo">
            <img ngSrc="/assets/images/mates/mate-0.webp" priority width="150" height="150" alt="loading...">
        </div>
        <div class="texts">
            <h6 class="title">Our approach yields results</h6>
            <div class="content">
                <p>We source proprietary deals for private equity, family office, and strategic investors.
                    Our dedicated team has operating and investment experience across founder-owned companies, thus
                    generating meaningful owner relationships and results.
                </p>
                <p>
                    Since 2018, we have generated consistent results across hundreds of industry searches for search
                    funds.
                    We focus on most types of transactions in the US and Canada between $1M to $25M EBITDA. Our goal is
                    to
                    provide the highest level of service and quality curated pipeline so you can stay focused on your
                    core
                    strength.
                </p>
            </div>
        </div>
    </section>
    <app-nav-arrows />
</main>