$bgOrange: #ff8c57;
$txtOrange: #C48820;
$animateDurationFast: 0.6s;
$animateDurationSlow: 1s;

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    min-height: calc(100% - 4rem); // - navbar height

    .second-color {
        color: $txtOrange;
    }

    .texts {
        z-index: 1;

        .header {
            animation: $animateDurationFast slideTopToBottom ease-in;
        }
    }

    .bg {
        position: relative;
        height: 50dvh;
        width: 100%;
        animation: $animateDurationSlow fadeIn ease-in-out;

        .bg-div {
            position: absolute;
            top: 2rem;
            background-image: linear-gradient(to bottom right, $bgOrange, rgb(92, 176, 255), $bgOrange);
            ;
            height: 40dvh;
            width: 100%;
        }

        .bg-img {
            position: absolute;
            bottom: -1rem;
            height: 60dvh;
            width: 100%;
        }
    }

    app-nav-arrows {
        width: 90%;
        position: fixed;
        bottom: 4.5rem;
    }
}

@keyframes slideTopToBottom {
    0% {
        transform: translateY(50dvh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideBottomToTop {
    0% {
        transform: translateY(calc(100% - 5rem));
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}