<app-navbar />
<main>
    <section class="texts">
        <h1 class="header">Proprietary search, <span class="second-color">optimized.</span></h1>
        <h6>
            The <span class="second-color">most comprehensive</span> proprietary deal flow in the lower middle market
            with
            <span class="second-color">innovation.</span>
        </h6>
    </section>
    <section class="bg">
        <div class="bg-div">
        </div>
        <img class="bg-img" src="/assets/images/logos/logo.svg" alt="Loading...">
    </section>
    <app-second-nav />
    <app-nav-arrows />
</main>
<!-- Another -->