<main>
    <section class="left">
        <div class="bg-shape">
        </div>
        <h5 class="title">OUR TEAM</h5>
    </section>
    <section class="right">
        <div class="row">
            <img class="profile-photo" ngSrc="/assets/images/mates/mate-0.webp" width="{{photoWH}}" height="{{photoWH}}" alt="Loading...">
            <div class="image-connect-line"></div>
            <div class="content">
                <h6 class="name">Ehsan Bazaz</h6>
                <p class="top-text">
                    PE Operator / COO <br />
                    20 years of experience in Fortune 100 and PE portcos
                </p>
                <div class="divider"></div>
                <p class="bottom-text">
                    Industrials/Manufacturing <br />
                    B2B Services <br />
                    DaaS <br />
                    CPG <br />
                </p>
            </div>
            <img class="uni-logo" ngSrc="/assets/images/uni-logos/harvard.webp" width="{{photoWH}}" height="{{photoWH}}" alt="Loading...">
        </div>
        <div class="row">
            <img class="profile-photo" ngSrc="/assets/images/mates/mate-1.webp" width="{{photoWH}}" height="{{photoWH}}" alt="Loading...">
            <div class="content">
                <h6 class="name">Misha Vinarksi</h6>
                <p class="top-text">Investment Banking Analyst Deutsche Bank</p>
                <div class="divider"></div>
                <p class="bottom-text">
                    Technology <br />
                    Media <br />
                    Telecom <br />
                </p>
            </div>
            <img class="uni-logo" ngSrc="/assets/images/uni-logos/ucla.webp" width="{{photoWH}}" height="50" alt="Loading...">
        </div>
        <div class="row">
            <img class="profile-photo" ngSrc="/assets/images/mates/mate-2.webp" width="{{photoWH}}" height="{{photoWH}}" alt="Loading...">
            <div class="content">
                <h6 class="name">Ish Hunanyan</h6>
                <p class="top-text">
                    Investment Banking Analyst <br />
                    Clear Capital Advisors <br />
                </p>
                <div class="divider"></div>
                <p class="bottom-text">
                    Business Services <br />
                    Consumer Retail <br />
                </p>
            </div>
            <img class="uni-logo" ngSrc="/assets/images/uni-logos/usc.webp" width="{{photoWH}}" height="50" alt="Loading...">
        </div>
    </section>
    <app-nav-arrows />
</main>