$txtOrange: #C48820;
$animateheight0To100: height0To100;
$animatewidtht0To100: width0To100;
$animateSlideUpFadeIn: slideUpFadeIn;
$animateTime--0-4: 0.4s;
$animateTime--0-1: 0.1s;
$animateTime--0-25: 0.25s;
$animateTime--0-5: 0.5s;
$animateTime--0-75: 0.75s;
$animateTime--1: 1s;

main {
    position: relative;
    min-height: calc(100% - 4rem);
    display: flex;
    align-items: center;

    .bg-polygon {
        position: absolute;
        top: 0;
        left: 0;
        // width: 20%;
        height: calc(100dvh - 8rem);
        z-index: -1;
        animation: $animateTime--0-5 $animateheight0To100 ease-in;
    }

    .left-empty-box {
        min-width: 43dvh;
        display: flex;
        justify-content: center;
        align-items: center;

        .bg-title {
            margin: 0;
            color: $txtOrange;
            font-weight: bold;
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            border-right: 2px solid transparent; /* optional: for a typewriter effect */
            animation: $animateTime--0-75 $animatewidtht0To100 $animateTime--0-5 ease-in-out forwards;
        }
    }

    .team {
        display: flex;
        flex: 1;
        justify-content: center;

        .team-container {

            .row {
                position: relative;
                display: flex;
                align-items: center;
                gap: 2rem;

                .profile-photo {
                    border-radius: 50%;
                }

                .image-connect-line {
                    border: solid black 2px;
                    height: 40dvh;
                    position: absolute;
                    top: 10dvh;
                    left: 48px;
                    z-index: -1;
                }

                .content {
                    width: 100%;

                    .divider {
                        width: 100%;
                        border: dashed black 1px;
                    }

                    .bottom-text {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }

    app-nav-arrows {
        position: fixed;
        width: 90%;
        bottom: 4.5rem;
    }
}

.animate-slide-up-fadein {
    animation: 0.7s slideUpFadeIn $animateTime--0-1;
}

.animate-delay--0-25 {
    animation-delay: $animateTime--0-25;
    animation-fill-mode: backwards;
}

.animate-delay--0-5 {
    animation-delay: $animateTime--0-5;
    animation-fill-mode: backwards;
}

.animate-delay--0-75 {
    animation-delay: $animateTime--0-75;
    animation-fill-mode: backwards;
}

.animate-delay--1 {
    animation-delay: $animateTime--1;
    animation-fill-mode: backwards;
}

@keyframes height0To100 {
    0% {
        height: 0;
    }

    100% {
        height: calc(100dvh - 8rem);
    }
}


@keyframes width0To100 {
    0% {
        width: 0;
        transform: translateX(-13rem);
    }

    100% {
        width: 13rem;
        transform: translateX(0);
    }
}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}