<app-navbar />
<main>
    <table>
        <thead>
            <tr>
                <th>Factor</th>
                <th>Competition</th>
                <th class="brand">
                    <img ngSrc="/assets/images/logos/logo.svg" width="90" height="40" priority alt="Logo">
                    <h6 class="text"><span>C</span>LEAR <span>B</span>RIDGE</h6>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="polygon">Built From Scratch</div>
                </td>
                <td>
                    <div class="rectangle">Stale out-of-date database</div>
                </td>
                <td class="oval">
                    Bespoke search platform designed for SMB
                </td>
            </tr>
            <tr class="overlap-oval">
                <td>
                    <div class="polygon">Real Time Search</div>
                </td>
                <td>
                    <div class="rectangle">No</div>
                </td>
                <td class="oval alter-color">
                    Most accurate & comprehensive SMB coverage
                </td>
            </tr>
            <tr class="overlap-oval">
                <td>
                    <div class="polygon">Owner Reply Rate</div>
                </td>
                <td>
                    <div class="rectangle">~15%</div>
                </td>
                <td class="oval">
                    ~20%+
                </td>
            </tr>
            <tr class="overlap-oval">
                <td>
                    <div class="polygon">Business Evaluation</div>
                </td>
                <td>
                    <div class="rectangle">Fresh College Grads</div>
                </td>
                <td class="oval alter-color">
                    Ex-PE Operator/ COO
                </td>
            </tr>
            <tr class="overlap-oval">
                <td>
                    <div class="polygon">Startup Time Completion Time</div>
                </td>
                <td>
                    <div class="rectangle">2 months <br /> 12+ months</div>
                </td>
                <td class="oval">
                    2 weeks <br /> 6-12 months
                </td>
            </tr>
        </tbody>
    </table>
    <app-nav-arrows />
</main>