<main>
    <section>
        <div class="wrapper">
            <h3 class="step">STEP 1</h3>
            <div class="content">
                <p class="title">REAL TIME SEARCH VALIDATION & CLEANSING</p>
                <div class="line"></div>
                <ul>
                    <li>Identify business type, acquisition criteria, and geography</li>
                    <li>Review and curate search results</li>
                    <li>Research targeted industry</li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h3 class="step">STEP 2</h3>
            <div class="content">
                <p class="title">EMAIL CAMPAIGN <br /> OWNER OUTREACH</p>
                <div class="line"></div>
                <ul>
                    <li>Setup and configure IT backend emails sent on behalf of client</li>
                    <li>Draft custom emails</li>
                    <li>Review inbound emails and setup call with owner</li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h3 class="step">STEP 3</h3>
            <div class="content">
                <p class="title">BUSINESS EVALUATION <br /> CLIENT REVIEW</p>
                <div class="line"></div>
                <ul>
                    <li>Arrange calls with business owner</li>
                    <li>Earn trust and credibility with owner</li>
                    <li>Review CRM analytics</li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h3 class="step">STEP 4</h3>
            <div class="content">
                <p class="title">CLIENT <br /> OWNER CALL</p>
                <div class="line"></div>
                <ul>
                    <li>Detailed business evaluation and write-up</li>
                    <li>Bi-weekly client check-in calls</li>
                    <li>Host call with client and owner</li>
                </ul>
            </div>
        </div>
    </section>
    <app-nav-arrows />
</main>