<mat-divider />
<mat-toolbar>
    <div class="contact-info">
        <div class="phone">
            <a href="tel:+1 323-391-6216">
                <mat-icon>phone</mat-icon>
                +1 323-391-6216
            </a>
        </div>
        <div class="email">
            <a href="mailto:ebazaz@clearbridgellc.net">
                <mat-icon>email</mat-icon>
                ebazaz&#64;clearbridgellc.net
            </a>
        </div>
    </div>
    <p>by Clear Bridge ©{{currentYear}}</p>
    <a (click)="openDialog()" class="address">
        <mat-icon>location_on</mat-icon>
        16133 Ventura Blvd. <br />
        Encino, CA 91436
    </a>
</mat-toolbar>