mat-toolbar {
    background-color: #F4F1EC;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        font-size: 1rem;
        color: gray;
    }
    
    a {
        display: flex;
        align-items: center;
        line-height: 1.3rem;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
    }

    mat-icon {
        display: flex;
        align-items: center;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
    }
}