$txtColor: white;
$bgGray: #AAAAAA;
$border: solid black 2px;

.page {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100% - 4rem); // - navbar height

    .bg-polygon {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: linear-gradient(to top right, #97c2ff, #103368);
        /* Gradient background */
        clip-path: polygon(0 0, 30% 0, 100% 50%, 30% 100%, 0 100%);
        padding: 42dvh 0 45dvh 50%;
        /* Controls the size of the triangle */
        z-index: -1;
    }

    main {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .bg-title {
            color: $txtColor;
            font-weight: bold;
        }

        .contact {
            display: flex;
            align-items: center;

            .jotform {
                height: 41rem;
                width: 500px;
                border: 2px solid black;
                border-radius: 1rem;
                padding-right: 1rem;
                background-color: white;
            }

            .contact-info {
                display: flex;
                padding: 0;
                position: relative;
                right: 2rem;
                height: 15rem;

                .icons {
                    background-color: #718BAB;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    border-radius: 5rem;
                    border: $border;
                    padding: 0 1rem;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 0 1rem;
                    height: 16rem; // increased height to adjust with .icons
                }

                .address {
                    cursor: pointer;
                    text-decoration: underline;
                    color: blue;
                }
            }
        }
    }

    app-nav-arrows {
        width: 90%;
        position: fixed;
        bottom: 4.5rem;
    }
}