<app-navbar />
<div class="page">
    <div class="bg-polygon">
    </div>
    <main>
        <h5 class="bg-title">Get in Touch With Us</h5>
        <section class="contact">
            <form>
                @if(!isformLoaded) {
                <div class="loading">
                    <mat-spinner />
                </div>
                }
                <iframe (load)="onFormLoad()" src="https://www.cognitoforms.com/f/TjDxkuT1QEilJjWEIqaM4A/1"
                    allow="payment"></iframe>
                <script src="https://www.cognitoforms.com/f/iframe.js"></script>
            </form>
            <div class="contact-info">
                <div class="icons">
                    <a href="tel:+1 323-391-6216">
                        <mat-icon>phone</mat-icon>
                    </a>
                    <a href="mailto:ebazaz@clearbridgellc.net">
                        <mat-icon>email</mat-icon>
                    </a>
                    <a (click)="openDialog()" class="address">
                        <mat-icon>location_on</mat-icon>
                    </a>
                </div>
                <div class="details">
                    <a href="tel:+1 323-391-6216">+1 323-391-6216</a>
                    <a href="mailto:ebazaz@clearbridgellc.net">ebazaz&#64;clearbridgellc.net</a>
                    <a (click)="openDialog()" class="address">
                        16133 Ventura Blvd. <br />
                        Encino, CA 91436
                    </a>
                </div>
            </div>
        </section>
        <app-nav-arrows />
    </main>
</div>