<div class="page">
    <div class="bg-polygon">
    </div>
    <main>
        <h5 class="bg-title">Get in Touch With Us</h5>
        <section class="contact">
            <iframe class="jotform" id="JotFormIFrame-242395418932059" title="Clear Bridge Contact Form"
                onload="window.parent.scrollTo(0,0)" allowtransparency="true"
                allow="geolocation; microphone; camera; fullscreen" src="https://form.jotform.com/242395418932059"
                frameborder="0"
                scrolling="no">
            </iframe>
            <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
            <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-242395418932059']", "https://form.jotform.com/")</script>
            <div class="contact-info">
                <div class="icons">
                    <mat-icon>phone</mat-icon>
                    <mat-icon>email</mat-icon>
                    <mat-icon>location_on</mat-icon>
                </div>
                <div class="details">
                    <a href="tel:+1 323-391-6216">+1 323-391-6216</a>
                    <a href="mailto:ebazaz@clearbridgellc.net">ebazaz&#64;clearbridgellc.net</a>
                    <div class="address">
                        <p>
                            16133 Ventura Blvd. <br />
                            Encino, CA 91436
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <app-nav-arrows />
    </main>
</div>