<div [ngClass]="isHomePage ? 'button-navs-home' : isContactUsPage ? 'button-navs-contact-us' : 'button-navs'">
    @if(!isHomePage) {
    <button (click)="goBack()" mat-icon-button>
        <mat-icon>arrow_circle_left</mat-icon>
    </button>
    <button (click)="goHome()" mat-icon-button>
        <mat-icon>home</mat-icon>
    </button>
    }
    @if(!isContactUsPage) {
    <button (click)="goNext()" mat-icon-button>
        <mat-icon [ngStyle]="{color: isContactUsPage ? 'gray' : ''}">arrow_circle_right</mat-icon>
    </button>
    }
</div>